@CHARSET "UTF-8";

body{
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #010e32;
	margin: 10px 200px 10px 200px;
	color: #01f1fe;
	text-align:center;
}

h1{
	color: #a8eaff;
}

a{
	color:red;
}

p{
	
}

b{
	color: white;
}

h3{
	color: orange;
}